<center>
    <img src="images/logo.jpg" width="150" alt="EPYTHON LAB logo"  />
</center>

<hr>
<h2 id="types_objects" align="center">Types of objects in Python</h2>

<p>Python is an object-oriented language. There are many different types of objects in Python. Let's start with the most common object types: <i>strings</i>, <i>integers</i> and <i>floats</i>. Anytime you write words (text) in Python, you're using <i>character strings</i> (strings for short). The most common numbers, on the other hand, are <i>integers</i> (e.g. -1, 0, 100) and <i>floats</i>, which represent real numbers (e.g. 3.14, -42.0).</p>

<a align="center">
    <img src="images/types.png" width="600">
</a>

<p>The following code cells contain some examples.</p>

In [16]:
# Integer
11

11

In [17]:
# Float
1.14

1.14

In [18]:
#  Type of 'Hello, Python'
'Hello, Python'

'Hello, Python'

<p>You can get Python to tell you the type of an expression by using the built-in <code>type()</code> function. You'll notice that Python refers to integers as <code>int</code>, floats as <code>float</code>, and character strings as <code>str</code>.</p>

In [19]:
# Type of 12
type(12)

int

In [20]:
# Type of 1.14
type(1.14)

float

In [21]:
# Type of string "Hello, Python"
type('Hello, python')

str

<p>In the code cell below, use the <code>type()</code> function to check the object type of <code>12.0</code>.

In [22]:
# Print the type of 12.0
type(12.0)

float

<h3 id="int">Integers</h3>

<a align="center">
    <img src="images/integer.png" width="600">
</a>

<p>We can verify this is the case by using, you guessed it, the <code>type()</code> function:

In [23]:
# Print the type of -1
type(-1)

int

In [24]:
# Print the type of 4
type(4)

int

In [25]:
# Print the type of 0
type(0)

int

<h3 id="float">Floats</h3>

<p>Floats represent real numbers; they are a superset of integer numbers but also include "numbers with decimals". There are some limitations when it comes to machines representing real numbers, but floating point numbers are a good representation in most cases. You can learn more about the specifics of floats for your runtime environment, by checking the value of <code>sys.float_info</code>. This will also tell you what's the largest and smallest number that can be represented with them.</p>

<p>Once again, can test some examples with the <code>type()</code> function:

In [26]:
# Print the system info float
import sys
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [27]:
# Print the type of 1.0

type(1.0) # Notice that 1 is an int, and 1.0 is a float

float

In [28]:
# Print the type of 0.5
type(0.5)

float

In [29]:
# Print the type of 0.56
type(0.56)

float

<h3 id="convert">Converting from one object type to a different object type</h3>

<p>You can change the type of the object in Python; this is called typecasting. For example, you can convert an <i>integer</i> into a <i>float</i> (e.g. 2 to 2.0).</p>
<p>Let's try it:</p>

In [30]:
# Verify that this is an integer

type(2)

int

<h4>Converting integers to floats</h4>
<p>Let's cast integer 2 to float:</p>

In [31]:
# Convert 2 to float
float(2)

2.0

In [32]:
# Convert integer 2 to a float and check its type
type(float(2))

float

<p>When we convert an integer into a float, we don't really change the value (i.e., the significant) of the number. However, if we cast a float into an integer, we could potentially lose some information. For example, if we cast the float 1.1 to integer we will get 1 and lose the decimal information (i.e., 0.1):</p>

In [33]:
# Casting 1.1 to integer will result in loss of information
int(1.1)

1

<h4>Converting from strings to integers or floats</h4>

<p>Sometimes, we can have a string that contains a number within it. If this is the case, we can cast that string that represents a number into an integer using <code>int()</code>:</p>

In [34]:
# Convert a string into an integer

int('1')

1

<p>But if you try to do so with a string that is not a perfect match for a number, you'll get an error. Try the following:</p>

In [35]:
# Convert a string into an integer with error

int('1 or 2 people')

ValueError: invalid literal for int() with base 10: '1 or 2 people'

<p>You can also convert strings containing floating point numbers into <i>float</i> objects:</p>

In [36]:
# Convert the string "1.2" into a float

float('1.2')

1.2

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
    [Tip:] Note that strings can be represented with single quotes (<code>'1.2'</code>) or double quotes (<code>"1.2"</code>), but you can't mix both (e.g., <code>"1.2'</code>).
</div>
<hr/>

In [38]:
'hello'

'hello'

<h4>Converting numbers to strings</h4>

<p>If we can convert strings to numbers, it is only natural to assume that we can convert numbers to strings, right?</p>

In [39]:
# Convert an integer to a string
str(2)

'2'

<p>And there is no reason why we shouldn't be able to make floats into strings as well:</p>

In [40]:
# Convert a float to a string

str(1.2)

'1.2'

<h3 id="bool">Boolean data type</h3>

<p><i>Boolean</i> is another important type in Python. An object of type <i>Boolean</i> can take on one of two values: <code>True</code> or <code>False</code>:</p>

In [ ]:
# Value true
True

<p>Notice that the value <code>True</code> has an uppercase "T". The same is true for <code>False</code> (i.e. you must use the uppercase "F").</p>

In [41]:
# Value false
False

False

<p>When you ask Python to display the type of a boolean object it will show <code>bool</code> which stands for <i>boolean</i>:</p>

In [43]:
# Type of True
type(True)

bool

In [44]:
# Type of False
type(False)

bool

<p>We can cast boolean objects to other data types. If we cast a boolean with a value of <code>True</code> to an integer or float we will get a one. If we cast a boolean with a value of <code>False</code> to an integer or float we will get a zero. Similarly, if we cast a 1 to a Boolean, you get a <code>True</code>. And if we cast a 0 to a Boolean we will get a <code>False</code>. Let's give it a try:</p>

In [45]:
# Convert True to int
int(True)

1

In [46]:
# Convert False to int
int(False)

0

In [47]:
# Convert 1 to boolean
bool(1)

True

In [48]:
# Convert 0 to boolean
bool(0)

False

In [49]:
# Convert True to float
float(True)

1.0

<h3 id="exer_type">Exercise: Types</h3>

<p>What is the data type of the result of: <code>6 / 2</code>?</p>

In [ ]:
# Write your code below and don't forget to run your code to see the output

Double-click **here** for the solution.

<!-- Your answer is below:
type(6/2) # int, as the double slashes stand for integer division 
-->

<p>What is the type of the result of: <code>6 // 2</code>? (Note the double slash <code>//</code>.)</p>

In [ ]:
# Write your code below and don't forget to run your code to see the output

Double-click **here** for the solution.

<!-- Your answer is below:
type(6//2) # int, as the double slashes stand for integer division 
-->

<hr>

*Copyright &copy; 2021 EPYTHON LAB.  All rights reserved.*