<center>
    <img src="images/logo.jpg" width="150" alt="EPYTHON LAB logo"  />
</center>
<hr>

<h2 id="expressions" align='center'>Operators and Expression in Python</h2>

<p>In Python, operators are special symbols that designate that some sort of computation should be performed.
    The values that an operator acts on are called <strong>operands</strong>.</p>

<strong>Operators</strong> are the constructs which can manipulate the value of <strong>operands</strong>.
<h2 id="expression"> Expressions </h2> 
<p>Expressions in Python can include operations among compatible types (e.g., integers and floats). For example, basic arithmetic operations like adding multiple numbers:</p>

Consider the expression <code> 4 + 5 = 9 </code>. Here, <code>4 and 5</code> are called <strong>operands</strong> and <code>+</code> is called <strong>operator</strong>.

<h2 id="operator"> Types of Operator </h2>

Python language supports the following types of operators.
- Arithmetic Operators
- Comparison (Relational) Operators
- Assignment Operators
- Logical Operators
- Membership Operators
- Identity Operators
- Bitwise Operators

<h2 id="arithmentic">Arithmetic Operators</h2>

<center>
 <table id="operators">
     <th>Operator </th>
      <th>Description </th>
      <th>Example </th>
     <tr> 
         <td>+ Addition</td>
         <td>Adds values on either side of the operator.</td>
         <td> x + y </td>
     </tr>
      <tr> 
         <td>- Subtraction</td>
         <td>Subtracts right hand operand from left hand operand.</td>
         <td> x - y </td>
     </tr>
      <tr> 
         <td>* Multiplication</td>
         <td>Multiplies values on either side of the operator.</td>
         <td> x * y </td>
     </tr>
      <tr> 
         <td>/ Division</td>
         <td>Divides left hand operand by right hand operand.</td>
          <td> x / y
              The result always has type <code>float</code>.</td>
     </tr>
      <tr> 
         <td>% Modulus</td>
         <td>Divides left hand operand by right hand operand and returns remainder.</td>
         <td> x % y</td>
     </tr>
      <tr> 
         <td>** Exponent</td>
         <td>Performs exponential (power) calculation on operators.</td>
         <td> x ** y, x to the power y </td>
     </tr>
     <tr> 
         <td>// Floor Division (also called Integer Division)</td>
         <td>Quotient when x is divided by y, rounded to the next smallest whole number.</td>
         <td> x // y, 9//2 = 4 and 9.0//2.0 = 4.0, -11//3 = -4, -11.0//3 = -4.0</td>
     </tr>
    </table>
    <center>

In [1]:
# Examples here..
x = 2
y = 3
print(x/y) # Float type
print(x//y) # int type
print(x*y)
print(x%y)
print(x**y) # ^

0.6666666666666666
0
6
2
8

<h2 id="comparison">Comparison Operators</h2>

<center>
 <table id="operators">
     <th>Operator </th>
      <th>Description </th>
      <th>Example </th>
     <tr> 
         <td>==</td>
         <td>The condition becomes True If the values of two operands are equal. False otherwise.</td>
         <td> x == y</td>
     </tr>
      <tr> 
         <td>!=</td>
         <td>The condition becomes True If values of two operands are not equal. False otherwise.</td>
         <td> x != y</td>
     </tr>
      <tr> 
          <td> <> </td>
         <td>The condition becomes True If values of two operands are not equal.False otherwise.</td>
         <td> x <> y. This is similar to !=</td>
     </tr>
      <tr> 
         <td>></td>
         <td> The conditin becomes True If the value of left operand is greater than the value of right operand. False otherwise.</td>
          <td> x > y  </td>
     </tr>
      <tr> 
         <td>< </td>
         <td>The condition becomes True If the value of left operand is less than the value of right operand. False otherwise</td>
         <td> x < y </td>
     </tr>
      <tr> 
         <td>>=</td>
         <td>The condition becomes True If the value of left operand is greater than or equal to the value of right operand. False otherwise.</td>
         <td> x >= y</td>
     </tr>
     <tr> 
         <td> <span>&#8804;</span> </td>
         <td>The condition becomes True If the value of left operand is less than or equal to the value of right operand. False otherwise.</td>
         <td> x<span>&#8804;</span>y </td>
     </tr>
    </table>
    <center>

In [14]:
# Examples here...
x = 3
y = 6
z = x+y
print(x)
print(z)
x==z

3
12

True

<h2 id="assignment">Assignment Operators</h2>

<center>
 <table id="operators">
     <th>Operator </th>
      <th>Description </th>
      <th>Example </th>
     <tr> 
         <td>= Assignment</td>
         <td>Assigns values from right side operands to left side operand.</td>
         <td> z = x + y, assigns value of x+y into z</td>
     </tr>
      <tr> 
         <td>+= Add AND</td>
         <td>It adds right operand to the left operand and assign the result to left operand.</td>
         <td> z += x is equavalent to z = z+x</td>
     </tr>
      <tr> 
          <td> -= Subtract AND </td>
         <td>It subtracts right operand from the left operand and assign the result to left operand.</td>
         <td> z -= x is equavalent to z = z-x.</td>
     </tr>
      <tr> 
         <td>*= Multiply AND</td>
         <td>It multiplies right operand with the left operand and assign the result to left operand.</td>
          <td> z *= x is equavalent to z = z*x </td>
     </tr>
      <tr> 
         <td>/= Divide AND </td>
         <td>It divides left operand with the right operand and assign the result to left operand.</td>
         <td> z /= x is equavalent to z = z/x</td>
     </tr>
      <tr> 
         <td>%= Modulus AND</td>
         <td>It takes modulus using two operands and assign the result to left operand.</td>
         <td> z %= x is equavalent to z = z%y</td>
     </tr>
     <tr> 
         <td>**= Exponent AND</td>
         <td>Performs exponential (power) calculation on operators and assign value to the left operand.</td>
         <td> z **= x is equavalent to z = z**x</td>
     </tr>
     <tr> 
         <td>//= Floor Division</td>
         <td>It performs floor division on operators and assign value to the left operand.</td>
         <td> z //= x is equavalent to z = z//x</td>
     </tr>
    </table>
    <center>

In [21]:
# Examples here
x = 8

x += 4 # x = x+4
x

12

<h2 id="logical">Logical Operators</h2>

<center>
 <table id="operators">
     <th>Operator </th>
      <th>Description </th>
      <th>Example </th>
     <tr> 
         <td>not</td>
         <td>True if x is False. False if x is True. (Logically reverses the sense of x).</td>
         <td> not x</td>
     </tr>
      <tr> 
         <td>or</td>
         <td>True if either x or y is True. False otherwise.</td>
         <td> x or y</td>
     </tr>
      <tr> 
          <td> and </td>
         <td>True if both x and y are True. False otherwise.</td>
         <td> x and y</td>
     </tr>
    </table>
    <center>

In [24]:
# Examples here
x = True
y = True
not x or y

True

<h2 id="member">Membership Operators</h2>
<p>Python’s membership operators test for membership in a sequence, such as <code>strings, lists, or tuples</code>. There are two membership operators as explained below</p>

<center>
 <table id="operators">
     <th>Operator </th>
      <th>Description </th>
      <th>Example </th>
     <tr> 
         <td>in</td>
         <td>Evaluates to true if it finds a variable in the specified sequence and false otherwise.</td>
         <td> x in y, here in results <strong>in</strong> a 1 if x is a member of sequence y.</td>
     </tr>
      <tr> 
          <td> not in </td>
         <td>Evaluates to true if it does not finds a variable in the specified sequence and false otherwise.</td>
          <td> x not in y, here <strong>not in</strong> results in a 1 if x is not a member of sequence y.</td>
     </tr>
    </table>
    <center>

In [27]:
# Examples here
x = "Hello Python"
y = "P"
y in x

True

<h2 id="identity">Identity Operators</h2>
<p>Identity operators compare the memory locations of two objects. There are two Identity operators explained below</p>

<center>
 <table id="operators">
     <th>Operator </th>
      <th>Description </th>
      <th>Example </th>
     <tr> 
         <td>is</td>
         <td>Evaluates to true if the variables on either side of the operator point to the same object and false otherwise.</td>
         <td> x is y, here <strong>is</strong> results in 1 if id(x) equals id(y).</td>
     </tr>
      <tr> 
         <td>is not</td>
         <td>Evaluates to false if the variables on either side of the operator point to the same object and true otherwise.</td>
         <td> x is not y, here <strong>is not</strong> results in 1 if id(x) is not equal to id(y).</td>
     </tr>
    </table>
    <center>

In [31]:
x = 10
y = 10.0
print(id(x))
print(id(y))
print(x is y)
print(x is not y)
print(x)

140210985835088
140210885993616
False
True
10

In [ ]:
2+3*3-2

<h2 id="ass">Reading Assignment</h2>

Read about:
- Bitwise Operators
- Operators Preceedence
- Expressions

<hr>

*Copyright &copy; 2021 EPYTHON LAB.  All rights reserved.*