# Data Analysis with SQL Tutorial

## Lesson 1: How to Connect MYSQL Database in Jupyter

**Step 1:** Install the required libraries

In [ ]:
# uncomment, the following and run the the cell

#!pip3 install pymysql
#!pip3 install ipython-sql
#!pip3 install mysqlclient

**Step 2:** Connect to MySQL

In [1]:
# import the libraries
import pymysql
import pandas as pd

In [2]:
# initialize the attuributes
db_name = "gms" # your database created in mysql
db_host = "localhost"
db_username = "root" # defaut is root
db_password = "1838/02" # leave empty if no password

In [3]:
# make the database connection
try:
    conn=pymysql.connect(host=db_host,
                         port=int(3306),
                         user='root',
                         passwd=db_password,
                         db=db_name)
except e:
    print(e)

In [4]:
if conn:
    print("Successfully connected")
else:
    print("Error")

Successfully connected

**Step 3:** Read data from database table

In [7]:
df = pd.read_sql_query("SELECT full_name, sex FROM appointment", conn)

In [8]:
df

  full_name  sex
0    Dejene  ወንድ

## Alternative way to connect to mysql

**Step 1:** Load sql extension

In [1]:
# %
%load_ext sql

**Step 2:** Connect to the MySQL

In [2]:
# %%
%sql mysql+mysqldb://root:1838/02@localhost/PPMDMS

(MySQLdb.OperationalError) (2002, "Can't connect to local server through socket '/run/mysqld/mysqld.sock' (2)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

**Step 3:** Read data from table

In [7]:
# %%
%sql SELECT first_name, sex FROM member;

 * mysql+mysqldb://root:***@localhost/PPMDMS
   mysql+mysqldb://root:***@localhost/gms
4 rows affected.

[(None, None), (None, None), (None, None), (None, None)]

---

## Lesson 02: Connecting MongoDb to Jupyter Notebook

### What is MongoDb?

MongoDB is a NoSQL database. This database is able to handle huge volumes of data very efficiently. 

MongoDB does not have restriction on schema design. Unlike traditional relation database, where data is stored in clearly defined tables and columns, and each column contains a very specific type of data. 

MongoDB has a dynamic schemas for unstructured data. Data can be stored as a 
- KeyValue, 
- document-oriented, 
- column-oriented, or 
- graph-based.

**Step 1:** Install required libraries

In [3]:
# uncomment, the following and install required library

#!pip install pymongo

**Step 2:** Import the module

In [1]:
# import the module
import pymongo
from pymongo import MongoClient

**Step 3:** Create MongoDb client

In [2]:
# create client object
client = MongoClient("localhost", 27017)

**Step 4:** Create db

In [3]:
# create db
db = client["test123"]

In [4]:
db.show

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test123'), 'show')

In this tutorial, I showed you how to connect your MongoDB to a jupyter notebook.