# Membership Operators

A Membership Operator in Python can be defined as being an operator that is used to validate the membership of a value.


We use membership operators to check the presence of a value or variable in a seuqnce such as:
- `string, list, tuples, sets, dictionary`

This operator checks whether a value or variable exists in a sequence or not.

### In Python, there are two membership operators

<table background='blue'>
    <th> Operator</th>
    <th> Description</th>
    <th> Example </th>
   <tr>
       <td> <code style='color:red';> in</code> </td>
       <td> Returns <code>True</code> if a sequence with the specified value is present in the object.</td>
       <td> <code style='color:blue';>'p' in 'Epythonlab'</code> </td>
   </tr>
   <tr>
     <td> <code style='color:red';> not in</code> </td>
    <td> Returns<code> True</code> if a sequence with the specified value is not present in the object. </td>
    <td> <code style='color:blue';> 's' not in 'epythonlab'</code></td>
  </tr>
</table>

In [3]:
's' not in 'epyythonlab'

True

## Example 1:
Check username and password

In [5]:
# list of users
users = [('asibeh', 'secret'), ('tenager', 'secret')]

# accept username and password
username = input('Enter username')
password = input('Enter password')

# check the availability of the username and password in the users list

if (username, password) in users:
    print(f"Hi {username}, you're logged in")
else:
    print("Wrong username or password.")

Enter username asibeh
Enter password hdkjd

Wrong username or password.

## Example 2

Let's assume you have a sales database that contains sales information and you are asked to filter list of  customer names with their names that do not start with vowels. In this case, you may use `not in` operator to do this task.

In [6]:
# create demmy data
import pandas as pd

data = {'name': ['Asibeh Tenager', 'Tenager Asibeh', 'Elsa John', 'John Daniel', 
                 'Smith Daniel', 'Erdogan Erdogan', 'Putin Russia'],
        'email': ['asibeh@gmail.com', 'tenager@gmail.com', 'elsa@gmail.com', 'john@yahoo.com', 
                  'smith@yahoo.com', 'erdogan@gmail.com', 'putin@gmail.com'],
        'date': ['2022-01-02', '2022-02-04', '2022-04-14', '2022-06-29', 
                 '2022-5-16', '2022-09-13', '2022-06-12'],
        'price': [214, 2334, 455, 123.4, 2334.5, 454.45, 232.34]
       }
df = pd.DataFrame(data)
df

              name              email        date    price
0   Asibeh Tenager   asibeh@gmail.com  2022-01-02   214.00
1   Tenager Asibeh  tenager@gmail.com  2022-02-04  2334.00
2        Elsa John     elsa@gmail.com  2022-04-14   455.00
3      John Daniel     john@yahoo.com  2022-06-29   123.40
4     Smith Daniel    smith@yahoo.com   2022-5-16  2334.50
5  Erdogan Erdogan  erdogan@gmail.com  2022-09-13   454.45
6     Putin Russia    putin@gmail.com  2022-06-12   232.34

In [7]:
# let's define a function 
def filter_customer(df, vowels):
    # best solution
    name_list = [name for name in df.name if name[0].lower() not in vowels]
    
    # alternative solution
    '''
    for name in df.name:
        if name[0].lower() not in vowels:
            name_list.append(name)
    
    '''
    return name_list
    
# testing code
vowels = ['a', 'e', 'i', 'o', 'u']

print(filter_customer(df, vowels))

['Tenager Asibeh', 'John Daniel', 'Smith Daniel', 'Putin Russia']

In [4]:
d = {'group1': ['s1', 's2', 's3'],
    'group2': ['s4', 's5', 's6'],
    'group3': ['s7', 's8', 's9']}

for k, v in d.items():
    if 's1' in v:
        print(f"you're a member of  {k}, {v}")

you're a member of  group1, ['s1', 's2', 's3']