<a href="https://colab.research.google.com/github/epythonlab/PythonLab/blob/master/Python%20tips.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Simulation and randomness: Random digit tables

We can simulate events involving randomness like picking names out of a hat using tables of random digits. Tables of random digits can be used to simulate a lot of different real-world situations. Here's 2 lines of random digits we'll use in this worksheet:

Line 1: 96565
 
 
05007
 
 
16605
 
 
81194
 
 
14873
 
 
04197
 
 
85576
 
 
45195

Line 2: 11169
 
 
15529
 
 
33241
 
 
83594
 
 
01727
 
 
86595
 
 
65723
 
 
82322

Things to know about random digit tables:
* Each digit is equally likely to be any of the 
10 digits 0 through 9.
* The digits are independent of each other. Knowing about one part of the table doesn't give away information about another part.
* The digits are put in groups of 
just to make them easier to read. The groups and rows have no special meaning. They are just a long list of random digits.

# Problem 1: Getting a random sample

There are 
90 students in a lunch period, and 
5 of them will be selected at random for cleaning duty every week. Each student receives a number 01−90 and the school uses a random digit table to pick the 
5 students as follows:



*  Start at the left of Line 1 in the random digits provided.

* Look at 
2-digit groupings of numbers.

* If the 2-digit number is anything between 
01 and 
90, that student is assigned lunch duty. Skip any other 
2-digit number.
* Skip a 
2-digit number if it has already been chosen.




Line 
1: 96565
 
 
05007
 
 
16605
 
 
81194
 
 
14873
 
 
04197
 
 
85576
 
 
45195
 
Which 5 students should be assigned cleaning duty?

In [19]:
import textwrap
def assigned_duty(line1):
  # make all together
  digits = ''.join(line1)
  # make two digits grouping
  two_digits_grouping = textwrap.wrap(digits, 2)

  assigned_students = []
  for digit in two_digits_grouping:
    if digit >= '01' and digit <= '90':
      if digit not in assigned_students:
        assigned_students.append(digit)
      

  return assigned_students[:5]

# testing code
line1 = ['96565', '05007', '16605', '81194','14873', '04197', '85576', '45195']
assigned_duty(line1)

['56', '50', '07', '16', '60']

# Battery low notification

In [ ]:
# how to get notified when battery low
# pip install psutil
import psutil
# get battery status
battery = psutil.sensors_battery()
is_plugged = battery.power_plugged
percent = battery.percent
# send notification when battery getting low
if percent <= 100 and is_plugged != True:
    # pip install plyer
    from plyer import notification
    import time
    notification.notify(
        title='Battery status',
        message='Battery low! Plugin the charger.',
        timeout=10
    )

# Alternative `len()` in Python

In [ ]:
# define alt_len() take input as a paramater
def alt_len(input):
  # define count variable to count the item
  count = 0
  if isinstance(input, str):  # check the input type is str
    for _ in list(input):
      count += 1 # increment the counter
  # check the input type is list, tuple, set or dict
  elif isinstance(input, (tuple, set, dict, list)):
    for _ in input:
      count += 1
  else:
    return('''Type error. Did you mean that the input is str, tuple, set, dict or list?''')
  # return the counted value as a result
  return count

# testing the code
input_string = "python"
print(alt_len(input_string))

6

In [ ]:
# get overlapping values in two lists
list1 = [1,2,3,4,5]
list2 = [2,3,4,5,6]
overlaps = []
for x in list1:
    for y in list2:
        if x == y:
            overlaps.append(x)
print(overlaps)

[2, 3, 4, 5]

In [ ]:
# get overlapping values in two lists
list1 = [1,2,3,4,5]
list2 = [2,3,4,5,6]
overlaps = set(list1) & set(list2)
print(list(overlaps))

[2, 3, 4, 5]

# Iterables vs Iterators in Python

## What is iteration protocol?
> the iteration protocol is used by all iteration tools in python.

> implemented by various object types such as
> - `for loops, comprehensions, maps, generator etc`

## What is iterable?
> An iterable is anything you can loop over its elements.

> Iterables can be looped over, and anything that can be looped over is an iterable.

> In Python, an Iterable is an object that implements the `__iter__()` method and returns an iterator object or an object that implements `__getitem__()`

## What is iterator?
>The iterator is an object which produces values during the iteration.

> it also being returned by the iterable object.

> On the other hand, an Iterator in Python is an object that implements the `__next__()` method in a way that

### Python Iterables and Iterators with example

# note that every Iterator is also an Iterable, but not every Iterable is an Iterator

In [ ]:
# let say sequence of numbers
nums = [2, 1, 4, 5] # iterable
# iterate over the nums using for loop
for num in nums:
    print(num)

2
1
4
5

In [ ]:
# let say list of numbers
nums = [2, 1, 4, 5] 
for num in nums:
    num

# Which is the correct?
`A. num is iterator B. nums is iterator`

`C. nums is iterable D. num is iterable`

`E. all except B & D`

# Convert Roman to Integer

### Suppose you have Roman literals; you wanna convert them into an integer.

roman numerals are represented by seven different symbols 
i.e: `I V X L C D and M`

<table>
    <th> Roman </th>
    <th> Integer </th>
    <tr>
        <td>I</td>
        <td>1</td>
    </tr>
    <tr>
        <td>V</td>
        <td>5</td>
    </tr>
    <tr>
        <td>X</td>
        <td>10</td>
    </tr>
    <tr>
        <td>L</td>
        <td>50</td>
    </tr>
    <tr>
        <td>C</td>
        <td>100</td>
    </tr>
    <tr>
        <td>D</td>
        <td>500</td>
    </tr>
    <tr>
        <td>M</td>
        <td>1000</td>
    </tr>
</table>

### example:

For example: `3` is written as` III` in Roman numeral, so this is `3`, there are three `‘I’s` are added together

for `13` is written as `XIII`, which is `X + III`
 and the number `27` is written as `XXVII`, which is `X + X + V + II`

### solution

In [ ]:
# let's define a dictionary to store a roman numeral and integer number as a key-value pair
romanInt = {
    'I': 1,
    'V': 5,
    'X': 10,
    'L': 50,
    'C': 100,
    'D': 500,
    'M': 1000
}

In [ ]:
# now, define the function to convert the roman to integer
def romanToInt(s):
    
    value = 0
    for i in range(len(s)):
        if i+1 < len(s) and s[i:i+2] in romanInt:
            value += romanInt[s[i:i+2]]
        else:
            value += romanInt[s[i]]
    return value   
                         
# test the code
# input 1: 'III' => 3
# input 2: 'CDXLIII' => 100+500+10+50+3= 663
# input 3: 'LVIII' => 50+5+3 = 58

input1 = romanToInt('III')
input2 = romanToInt('CDXLIII')
input3 = romanToInt('LVIII')

print(input1)
print(input2)
print(input3)

3
663
58

## How to Build ChatGPT with GPT-3 in Python

#!pip install openai

In [ ]:
import openai
openai.api_key = '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'

def chatBot(prompt):
    
    completion = openai.Completion.create(
        model = 'text-davinci-003',
        prompt=prompt,
        max_tokens=1024,
        n=1,
        temperature=0.5,
        stop=None
    )

    response = completion.choices[0].text
    
    return response
# test code
while True:
    prompt = input()
    print(chatBot(prompt))

ModuleNotFoundError: No module named 'openai'

## How to format a number as currency in Python

In this tutorial, I'm going to show you how to format a number as currency in two different ways

In [ ]:
# number example
number = 1238745.65

### Method 1: Format a number as currency with the `format()` method.

In [ ]:
# show example here
curr = "{:,}".format(number)

print('$', curr)

$ 1,238,745.65

### Method 2: Format Numbers as Currency using the `locale` module:

In [ ]:
# show example here
import locale
locale.setlocale(locale.LC_ALL, '')

print(locale.currency(number, grouping=True))

$1,238,745.65

### Note

- This method helps you to write a single set of codes and not worry about which region you run the code. Python will automatically detect the region and serve your application data based on your localization.

## How to replace all occurrences of a string with another string

I'm going to show you two different methods to replace a string

### Method 1: using `replace()` method

The `replace()` method of string class accepts a string value as input and returns the modified string as output. 

- It has 2 mandatory parameters and 1 optional parameter.

`string.replace(oldvalue, newvalue, count)`

- **oldvalue** − The substring that you want to replace.

- **newvalue** − This represents the substring with which you want to replace.

- **count** − This is an optional parameter; it is used to specify the number of old values you want to replace with new values.

#### Example 1: replace without specifying count parameter

In [ ]:
# replace a letter t with d
string = 'Welcome to epythonlab'

print('String before replacing:', string)

string = string.replace('t', 'd')

print('String after replacing:', string)

String before replacing: Welcome to epythonlab
String after replacing: Welcome do epydhonlab

#### Example 2: replace with count parameter

In [ ]:
# replace 2 occurences of letter o with d
string ='Welcome to epythonlab'

print('String before replacing:', string)

string = string.replace('o', 'd', 2)

print('String after replacing:', string)

String before replacing: Welcome to epythonlab
String after replacing: Welcdme td epythonlab

### Method 2: using `re.sub()` method

You can also use **Python regular expressions** to replace all occurrences of a string with another string. 

- The `sub()` method of python `re` replaces an existing letter in the given string with a new letter. 

`re.sub(old, new, string)`

- **old** − The sub string that you want to replace.

- **new** − The new sub string with which you want to replace.

- **string** − The source string.

#### Example 1: replace the letter 't' with 'd'

In [ ]:
# replace letter 't' with 'd'
import re

string = 'Welcome to epythonlab'

print('String before replacing:', string)

string = re.sub('t', 'd', string)

print('String after replacing:', string)

String before replacing: Welcome to epythonlab
String after replacing: Welcome do epydhonlab

> ## How to Convert Letters into Numbers

We use `ord()` method to convert Letters into numbers

In [ ]:
# Show some example here
"""
    the ord() method takes a single character as an input and 
    return an integer 
    representing the Unicode character
"""
import string
alphabets = string.ascii_uppercase

res = {ch: ord(ch) for ch in alphabets}
print(res)

### Practical Exercise

You've heard somewhere that a word is more powerful than an action. You decided to put this statement at a test by assigning a power value to each action and each word. To begin somewhere, you defined a power of a word as the sum of powers of its characters, where power of a character is equal to its 1-based index in the plaintext alphabet.

Given a `word`, calculate its power.

Example

For `word = "hello"`, the output should be
`power(word) = 52`.

Letters `'h', 'e', 'l' and 'o'`have powers `8, 5, 12 and 15`, respectively. Thus, the total power of the word is `8 + 5 + 12 + 12 + 15 = 52`.

In [ ]:
# solution here
def power(word):
    '''
         The string can be iterated through for loop and use an ord()
         method to convert each letter into number.
    '''
    num = {ch: ord(ch)-96 for ch in word.lower()}
    
    res = [num[ch] for ch in word]
    
    return sum(res)


# testing
word = 'hello'
print(power(word))

> # Extended Iterable Unpacking

What is unpacking?

**Unpacking** in Python refers to an operation that consists of assigning an iterable of values to a `tuple (or list )` of variables in a single assignment statement. 

- As a complement, the term packing can be used when we collect several values in a single variable using the iterable unpacking operator, `*` 



This was introduced in **PEP 3132**.

It was proposed a changes to iterable unpacking syntax, allowing to specify a **“catch-all”** name which will be assigned a list of all items not assigned to a **“regular”** name.

- Many algorithms require splitting a sequence in a “first, rest” pair. 

    `first, rest = seq[0], seq[1:]`, but with the new syntax,
    
 - is replaced by the cleaner and probably more efficient:

     `first, *rest = seq`

The `*` operator is known, in this context, as the tuple (or iterable) unpacking operator. 

It extends the unpacking functionality to allow us to collect or pack multiple values in a single variable.

For example, if `seq` is a sliceable sequence, all the following assignments are equivalent if `seq` has at least two elements:

In [ ]:
a, b, c = seq[0], list(seq[1:-1]), seq[-1] # instead of using 

a, *b, c = seq # more efficient way

[a, *b, c] = seq # in a list

(a, *b, c) = seq # in a tuple

It is an error (as it is currently) if the iterable doesn’t contain enough items to assign to all the mandatory expressions.

It is also an error to use the starred expression as a lone assignment target, as in

In [ ]:
*a = range(5) # error

In [ ]:
# however this is a valid
*a, = range(5)
a

[0, 1, 2, 3, 4]

Example

In [ ]:
# extended iterable unpacking
a, *b, c = range(5)
print(a)
print(c)
print(b)

0
4
[1, 2, 3]

**Exercise**:

Let's call a list `beautiful` if its **first element** is equal to its **last element**, or if a list is **empty**. 

Given a list `a`, your task is to chop off its first and its last element until it becomes beautiful. 

Implement a function that will make the given a beautiful as described, and return the resulting list as an answer.

For example  `a = [3, 4, 2, 4, 38, 4, 5, 3, 2]`, the output should be
`beautiful(a) = [4, 38, 4]`.

In [ ]:
a = [3, 4, 2, 4, 38, 4, 5, 3, 2]

res = a[:]
while res and res[0] != res[-1]:
    first, *res, last = res

res

> # Sort Dictionary By key & value

In [ ]:
# let's have list of fruit prices per kg
fruits_info = {
    'mango': 13.5,
    'bannana': 10.4,
    'orange': 8.9,
    'avocado': 12.5,
    'ananas' : 11.7
}

> 1. Sort by key

In [ ]:
sorted(fruits_info.keys())

['ananas', 'avocado', 'bannana', 'mango', 'orange']

In [ ]:
for key in sorted(fruits_info):
    print(fruits_info[key])

11.7
12.5
10.4
13.5
8.9

In [ ]:
fruits_info

In [ ]:
sorted(fruits_info)

['ananas', 'avocado', 'bannana', 'mango', 'orange']

In [ ]:
sorted(fruits_info, reverse=True)

['orange', 'mango', 'bannana', 'avocado', 'ananas']

In [ ]:
# show code here
# Method 1: Using loop
sorted_fruits = {key:fruits_info[key] for key in sorted(fruits_info, reverse=False)} # dictionary comprehension

print(sorted_fruits)

{'ananas': 11.7, 'avocado': 12.5, 'bannana': 10.4, 'mango': 13.5, 'orange': 8.9}

> 2. Sort by values

In [ ]:
for item in sorted(fruits_info.items()):
    print(item)

In [ ]:
# show code here
# Mehtod 1: Using lambda function

sorted_fruits_by_value = dict(sorted(fruits_info.items(), key = lambda item: item[1], reverse=True))
print(sorted_fruits_by_value)

> # String Formatting

String formatting is also known as **String interpolation**. 

It is the process of **inserting a custom string or variable**in predefined text.

There are three commonly used string formatting:

1. Formatting with `%` Operator.
2. Formatting with `format()` string method.
3. Formatting with string literals, called `f-strings`.

### Using `%` Operator

In [ ]:
# show example here
name = 'Asibeh'
age = 32
print('My name is %s. I am %d years old'%(name, age))

**Note** : `%s` is used for string, `%d` is for integer and `%f` is for floating-point values.

### Float precision with the placeholder method

In [ ]:
# show example here
pi = 3.123456
print('The pi %0.3f'%pi)

**Note**: `%a.bf` is used to format floating-point values

## using `format()` method

`Syntax: ‘String here {} then also {}’.format(‘something1′,’something2’)`

In [ ]:
# show example here
name = 'Asibeh'
age = 32
print('My name is {}. I am {} years old.'.format(name, age))

In [ ]:
a = 2.3456
b = 1.655
print('{0:.0f} + {1:.0f}'.format(a, b))

## using `F-strings`
This string formatter was introduced in **PEP 498** know as **Literal String Interpolation** or more commonly as **F-strings**

- because of the leading `f` character preceding the string literal
 

- The idea behind f-strings is to make string interpolation simpler.

In [ ]:
# show example here
name = 'Asibeh'
age = 32
print(f'My name is {name}. I am {age} years old.')

> ## Manipulating Files and Directories in Python

# `os` module

In [ ]:
import os

1. Getting the current working directory

In [ ]:
os.getcwd() # C:\Home/Desktop/

2. Create new directory

In [ ]:
os.mkdir('python')

3. Change the current working directory to 'python'

In [ ]:
os.chdir('python') #/home/Desktop/

In [ ]:
os.getcwd()

In [ ]:
os.mkdir('p2')

4. remove the directory

In [ ]:
os.rmdir('p2')

In [ ]:
if not os.path.exists('p3'):
    os.mkdir('p3')
else:
    print('The directory exists.')

5. List the contents of the directory

In [ ]:
list_dir = os.listdir() # 'C:\Home\Des'
for dr in list_dir:
    print(dr)

In [ ]:
os.chdir('p2')

In [ ]:
os.getcwd()

In [ ]:
#os.chdir('/home/noh/Desktop/python/')

In [ ]:
with open('f1.txt', 'w') as f:
    f.write(f'A file is create at {os.getcwd()}')

In [ ]:
os.remove('f1.txt') #os.rmdir('')

In [ ]:
os.rmdir('/home/noh/Desktop/python/p2')

In [ ]:
os.chdir('p3')

In [ ]:
os.getcwd()

> # Python's Type Hinting

Python uses dynamic typing, in which variables, parameters, and return values of a function can be any type.

- Python’s type hints provide you with optional static typing to leverage the best of both static and dynamic typing.

- Type hinting is a formal solution to statically indicate the type of a value within your Python code. 
- It was specified in **PEP 484** and introduced in **Python 3.5**.
#

Example: here's an example of a function that returns values without adding type hinting

In [ ]:
def greeting1(name):
    
    return f'Hi, nice to meeting you {name}'

greeting1('Asibeh')

Here's a syntax for adding type hinting to a parameter and returns a function

`parameter:type`
`->type`

#

Here's an example of adding type information to a function `greeting2()` and you annotate the arguments and return values

In [ ]:
def greeting2(name:str)->str:
    
    return f'Hi, nice to meet you {name}'

greeting2('Asibeh')

<h3 background='green'>Note: You can also use other built-in types such as <code>int, float, bool</code> etc </h3>

In [ ]:
from typing import Union

def addNumber(num1:Union[int,float], num2:Union[int, float])->Union[float, int]:
    return num1 + num2

addNumber(4.2, 2.3)

Here's another example of the function turns a text string into a **headline** by adding proper **capitalization and a decorative** line:

In [ ]:
def headline(text, align=True):
    
    if align:
        
        return f"{text.title()}\n{'-' * len(text)}"
    else:
        return f" {text.title()} ".center(50, '*')

print(headline('python type hinting tutorial.'))
print(headline('python type checking', align=False))

##

Let's add type hints to the function `headline()` by annotating the arguments and the return value as follows:

In [ ]:
def headline(text: str, align: bool = True)-> str:
    
    if align:
        
        return f"{text.title()}\n{'-' * len(text)}"
    else:
        return f" {text.title()} ".center(50, '*')

print(headline('python type checking', align='left'))
print(headline('python type checking', align=False))

#

## According to PEP 8, I recommend that you:

- Use normal rules for colons, that is, no space before and one space after a colon (text: str).
- Use spaces around the = sign when combining an argument annotation with a default value (align: bool = True).
- Use spaces around the -> arrow (def headline(...) -> str).

---

## Testing Your Code Before Deployment
>Testing your code is essential before deployment.

## Unit tests

The advantage of unit tests is that  
- they are isolated from the rest of your program, and thus no dependencies are involved. 
- they don't require access to databases, APIs, or other external sources of information.

- However, passing unit tests isn’t always enough to prove that your program is working successfully. 

The disadvantage of unit tests is that

- In large program, all parts of the program not work properly, communicating, and transfering data between them correctly
- however, when you start building larger programs, you will want to use integration tests as well.

#### install pytest library for unit-testing

example in the model directory

In [ ]:
# uncomment, the following line to install pytest
#!pip install pytest

## Find Common Elements in Two Lists in Python

In [ ]:
"""
    Let's assume you have two lists
     each list contains list of numbers
     You want to find common elements from the
     two lists using three ways

"""
list_one = [3, 10, 25, 35, 20, 30, 40, 50]

list_two = [20, 40, 22, 16, 30, 60, 5, 70, 100]

# check the number of elements of both lists
print(len(list_one))
print(len(list_two))

8
9

### 1. using `intersection()`

In [ ]:
# testing code here
common_elements = set(list_one).intersection(list_two)
print(common_elements)
list(common_elements)

{40, 20, 30}

[40, 20, 30]

### 2. using list comprehension

In [ ]:
# your code here
common_elements = [i for i in list_one if i in list_two]
print(common_elements)

In [ ]:
# let's say
lst1 = [2, 3, 40, 10, 30, 12, 37, 17]
lst1 = [2, 3, 40, 19, 17, 20, 40, 24, 13]

range(20, 40, 3)

### 3. using `&` operator

In [ ]:
# your code here

set_one = set(list_one)
set_two = set(list_two)

if set_one & set_two:
    print(set_one & set_two)
else:
    print("No common elements")

### Python's `reduce()` vs `accumulate()` function

`reduce()` function iterates over each item in a list, or any other iterable data type, and returns a single value. 
- It's one of the methods of the built-in `functools` class of Python.

Here's an example of how to use reduce:

In [ ]:
from functools import reduce

a = [2, 3, 4, 5, 1, 3]
result = reduce(lambda x, y: x+y, a)

print(result)

## <code><b style="color:'#345678';">enumerate()</b></code> function in Python

- It returns the length of an iterable and loops through its items simultaneously. 

- Thus, while printing each item in an iterable data type, it simultaneously outputs its index.

Example: Assume that you want a user to see the list of items available in your database. You can pass them into a list and use the enumerate() function to return this as a numbered list.

Here's how you can achieve this using the `enumerate()` method:

In [ ]:
# list of fruits
fruits = ['Apple', 'Orange', 'Mango', 'Avocado', 'Banana']

# you want to print the items along with its index as a numbered list
for index, item in enumerate(fruits, start=1 ):
    print(index, item)

An alternative way to print the items and their index using for loop

In [ ]:
for i in range(len(fruits)):
    print(i+1, fruits[i])

## `eval()` function

`eval()` function uses to perform mathematical operations on integers or floats, even in their string forms. 

It's often helpful if a mathematical calculation is in a string format.

Example: Here's how it works

In [ ]:
"""
Let's assume you have a mathematical expression in
string format
and you wanna perform the result of the expression
using eval()
"""
x = "3+2**2" # 3.2+4 = 7.2
# when you print x as it is

print(x)

In [ ]:
# using eval()
re = eval(x) # convert the string into interger or float
print(re)

## `map()` in Python

`map()` function returns a map object(which is an iterator) of the results after applying the given function to each item of a given iterable `(list, tuple etc.)`

Syntax :

`map(fun, iter)`

Example: Add two lists using `map()` and `lambda` function

In [ ]:
def add_lists(lst1, lst2):
    
    result = map(lambda x, y : x + y , lst1, lst2)
    
    return result

# call the function
numbers1 = [1, 2, 3, 7]
numbers2 = [4, 5, 6]
result = add_lists(numbers1, numbers2)
print(list(result))

[5, 7, 9]

In [ ]:
print(list(result))

[]

# Python Top Tip : `reduce()` function

The `reduce(fun,seq)` function is used to apply a particular function passed in its argument to all of the list elements mentioned in the sequence passed along.

This function is defined in `functools` module.

Example: Demonstrate working of `reduce()`

In [ ]:
import functools

# initilize the list
lst = [2, 3, 5, 7, 1, 4, 8, 9, 11, 34, 16]

# find the sum of the sequence of the list

sum_seq = functools.reduce(lambda x, y: x+y, lst)

print("The sum of the list elements is:", sum_seq)

In [ ]:
# find the maximum element from the list
max_el = functools.reduce(lambda x, y: x if x>y else y, lst)

print("The max element is :", max_el)

In [ ]:
# find the minimum element from the list
min_el = functools.reduce(lambda x,y: x if x<y else y, lst)

print("The min element is :", min_el)

##

# Python Top Tips: 
> `yield` keyword in Python
##

What is `yield` in Python? 

The `yield` keyword in Python is similar to a return statement used for returning values or objects in Python. 

However, there is a slight difference. 

- The yield statement returns a generator object to the one who calls the function which contains yield, instead of simply returning a value.

##

Example: how to demonstrate the working of `yield`

In [ ]:
def filter_even(numbers):

       for number in range(numbers):
            
            if(number%2==0):
                
                yield number 
                

# call the function
even_numbers = filter_even(20)

In [ ]:
lst = [i for i in even_numbers]
lst

In [ ]:
print(next(even_numbers))

## Difference between `pop()` and `remove()`

In [ ]:
lists_number = [2, 3, 4, 3, 6, 7]

In [ ]:
lists_number

In [ ]:
lists_number.pop(2)

In [ ]:
lists_number

In [ ]:
lists_number.remove(4)

In [ ]:
lists_number