# Data Analysis with SQL Tutorial

## Lesson 1: How to Connect MYSQL Database in Jupyter

**Step 1:** Install the required libraries

In [4]:
# uncomment, the following and run the the cell

#!pip3 install pymysql
#!pip3 install ipython-sql
#!pip3 install mysqlclient

**Step 2:** Connect to MySQL

In [8]:
# import the libraries
import pymysql
import pandas as pd

In [18]:
# initialize the attuributes
db_name = "gms" # your database created in mysql
db_host = "localhost"
db_username = "root" # defaut is root
db_password = "1838/02" # leave empty if no password

In [19]:
# make the database connection
try:
    conn=pymysql.connect(host=db_host,
                         port=int(3306),
                         user='root',
                         passwd=db_password,
                         db=db_name)
except e:
    print(e)

In [20]:
if conn:
    print("Successfully connected")
else:
    print("Error")

Successfully connected

**Step 3:** Read data from database table

In [45]:
df = pd.read_sql_query("SELECT * FROM appointment", conn)

In [46]:
df

,id,full_name,sex,email,phone_number,org,deptID,empID,serviceID,subject,app_date,app_time,short_code,status,feedback,date_registered
0,1,Dejene,ወንድ,dtechane6@gmail.com,920470386,የመንግስት,2,2,1,,2022-02-03,2:30-4:30,729220220203,አዲስ,None,2022-02-02 05:11:06

## Alternative way of connecting to mysql

**Step 1:** Load sql extension

In [39]:
# %
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

**Step 2:** Connect to the MySQL

In [41]:
# %%
%sql mysql+mysqldb://root:1838/02@localhost/gms

**Step 3:** Read data from table

In [47]:
# %%
%sql SELECT * FROM appointment;

 * mysql+mysqldb://root:***@localhost/gms
1 rows affected.

[(1, 'Dejene', 'ወንድ', 'dtechane6@gmail.com', 920470386, 'የመንግስት', 2, 2, 1, '', datetime.date(2022, 2, 3), '2:30-4:30', '729220220203', 'አዲስ', 'None', datetime.datetime(2022, 2, 2, 5, 11, 6))]