# How to Parse Different Date Formats into Standard Format using Pandas

In [1]:
# Import library
import pandas as pd
import datetime

In [16]:
# Load our data into dataframe
df = pd.read_csv("parsing_date_dataset.csv")

In [17]:
# Explore the first five rows using head
df.head()

             Name        birth_date date_of_registered
0    Daniel Asefa        01-02-2020         01-02-2020
1  Asibeh Tenager       01-Feb-2020        01-Feb-2020
2      Micky Nega        01-02-2020         01-02-2020
3  Abebe Shimelis  01.february.2020   01.february.2020
4  Melat Nigussie       05.may.2020        05.may.2020

In [18]:
df.dtypes

Name                  object
birth_date            object
date_of_registered    object
dtype: object

In [19]:
def parse_date(df, cols):
    
    for col in cols:
        df[col] = df[col].apply(lambda x: pd.to_datetime(x).strftime("%d-%m-%Y"))
        df[col] = pd.to_datetime(df[col], format="%d-%m-%Y")
    
    return df

In [20]:
df = parse_date(df, ['birth_date', 'date_of_registered'])

In [21]:
df

             Name birth_date date_of_registered
0    Daniel Asefa 2020-01-02         2020-01-02
1  Asibeh Tenager 2020-02-01         2020-02-01
2      Micky Nega 2020-01-02         2020-01-02
3  Abebe Shimelis 2020-02-01         2020-02-01
4  Melat Nigussie 2020-05-05         2020-05-05

In [22]:
df.dtypes

Name                          object
birth_date            datetime64[ns]
date_of_registered    datetime64[ns]
dtype: object