# Convert Emoji's into Text

In [9]:
# Uncomment below line to install demoji
#!pip install demoji
import demoji

text = "üôè‚ù§Ô∏èüò¢üôàüôÄüíÉ"

demoji.findall(text)

{'üôà': 'see-no-evil monkey',
 'üôÄ': 'weary cat',
 'üò¢': 'crying face',
 'üíÉ': 'woman dancing',
 '‚ù§Ô∏è': 'red heart',
 'üôè': 'folded hands'}

# Check Anagrams in Python

In [3]:
def anagram(word1, word2):
    word1 = word1.lower()
    word2 = word2.lower()
    
    return sorted(word1) == sorted(word2)

# testing code

print(anagram('lemon', 'melon'))
print(anagram('hi', 'hello'))

True
False

## Extract Digit from String

In [11]:
import pandas as pd

years_list = ['YR1990', 'YR2000', 
              'YR2010', 'YR2020']
df = pd.DataFrame(years_list, 
                  columns=['year'])
df

     year
0  YR1990
1  YR2000
2  YR2010
3  YR2020

In [14]:
df['year'] = df['year'].str.extract('(\d+)', expand=False)

In [15]:
df

   year
0  1990
1  2000
2  2010
3  2020

## URL Shortener - tinyurl

In [7]:
# uncomment below line to install pyshortner
#!pip install pyshorteners

In [1]:
import pyshorteners
long_url = "https://www.youtube.com/watch?v=f3YdXivsa10"

tiny = pyshorteners.Shortener()

short_url = tiny.tinyurl.short(long_url)

print(long_url)
print(short_url)

https://www.youtube.com/watch?v=f3YdXivsa10
https://tinyurl.com/2p5o3zfk

## Alphabets Pattern in Python

In [2]:
num = int(input("Enter rows:"))
for i in range(97, 97+num):
    for j in range(97, i+1):
        print(chr(i), end='')
    print()

Enter rows: 10

a
bb
ccc
dddd
eeeee
ffffff
ggggggg
hhhhhhhh
iiiiiiiii
jjjjjjjjjj

## Find Century from Year

In [3]:
def centuryFromYear(year):
    
    if year % 100 >= 1:
        
        return (year // 100) + 1
    
    return year // 100
    
    
# test the code
print("Century is ", centuryFromYear(1905))
print("Century is ", centuryFromYear(1700))

Century is  20
Century is  17

## Print calender of current year

In [10]:
from calendar import *

print(calendar(2022, 2, 1, 8, 4))

                                                  2022

      January                     February                     March                       April
Mo Tu We Th Fr Sa Su        Mo Tu We Th Fr Sa Su        Mo Tu We Th Fr Sa Su        Mo Tu We Th Fr Sa Su
                1  2            1  2  3  4  5  6            1  2  3  4  5  6                     1  2  3
 3  4  5  6  7  8  9         7  8  9 10 11 12 13         7  8  9 10 11 12 13         4  5  6  7  8  9 10
10 11 12 13 14 15 16        14 15 16 17 18 19 20        14 15 16 17 18 19 20        11 12 13 14 15 16 17
17 18 19 20 21 22 23        21 22 23 24 25 26 27        21 22 23 24 25 26 27        18 19 20 21 22 23 24
24 25 26 27 28 29 30        28                          28 29 30 31                 25 26 27 28 29 30
31

        May                         June                        July                       August
Mo Tu We Th Fr Sa Su        Mo Tu We Th Fr Sa Su        Mo Tu We Th Fr Sa Su        Mo Tu We Th Fr Sa Su
                   1               1  2  3  4  5                     1  2  3         1  2  3  4  5  6  7
 2  3  4  5  6  7  8         6  7  8  9 10 11 12         4  5  6  7  8  9 10         8  9 10 11 12 13 14
 9 10 11 12 13 14 15        13 14 15 16 17 18 19        11 12 13 14 15 16 17        15 16 17 18 19 20 21
16 17 18 19 20 21 22        20 21 22 23 24 25 26        18 19 20 21 22 23 24        22 23 24 25 26 27 28
23 24 25 26 27 28 29        27 28 29 30                 25 26 27 28 29 30 31        29 30 31
30 31

     September                    October                     November                    December
Mo Tu We Th Fr Sa Su        Mo Tu We Th Fr Sa Su        Mo Tu We Th Fr Sa Su        Mo Tu We Th Fr Sa Su
          1  2  3  4                        1  2            1  2  3  4  5  6                  1  2  3  4
 5  6  7  8  9 10 11         3  4  5  6  7  8  9         7  8  9 10 11 12 13         5  6  7  8  9 10 11
12 13 14 15 16 17 18        10 11 12 13 14 15 16        14 15 16 17 18 19 20        12 13 14 15 16 17 18
19 20 21 22 23 24 25        17 18 19 20 21 22 23        21 22 23 24 25 26 27        19 20 21 22 23 24 25
26 27 28 29 30              24 25 26 27 28 29 30        28 29 30                    26 27 28 29 30 31
                            31

# Read CSV into List of Dictionaries

In [8]:
import csv

with open("person_info.csv", 'r') as f:
    
    file_reader = csv.DictReader(f)
    my_list = list(file_reader)
my_list

[{'name': 'Spencer Carr',
  'birth_date': '1937-12-16',
  'country': 'South Africa'},
 {'name': 'Gary Smith', 'birth_date': '2002-12-29', 'country': 'Bahrain'},
 {'name': 'Jose Wilkinson', 'birth_date': '1989-05-14', 'country': 'Colombia'},
 {'name': 'Robert Smith',
  'birth_date': '2022-06-28',
  'country': 'Saint Helena'},
 {'name': 'Michelle Simmons',
  'birth_date': '1993-02-10',
  'country': 'Gibraltar'},
 {'name': 'Kathy Martin', 'birth_date': '1983-08-05', 'country': 'Argentina'},
 {'name': 'Carl Morgan', 'birth_date': '1993-12-26', 'country': 'Timor-Leste'},
 {'name': 'Nicholas Woodard',
  'birth_date': '1938-06-23',
  'country': 'Armenia'},
 {'name': 'Scott Atkins', 'birth_date': '1913-12-06', 'country': 'Moldova'},
 {'name': 'Janet Pollard', 'birth_date': '1947-07-09', 'country': 'Ireland'}]

# Check a string is_palindrom

In [14]:
st = "Tenet"
st[::-1]

'teneT'

In [5]:
"""
    A palindrom is a word, number, phrase or
    another sequence of characters which read
    the same backward as forward
    for instance forward string: "Tenet" => 
    backward string : "tenet"
"""
def is_palindrom(string):
    
    return string.lower() == string[::-1].lower()

In [9]:
# call the function and return the output
print(is_palindrom("Tenet"))
print(is_palindrom("2121"))
print(is_palindrom("hello"))

True
False
False

# Check Prime Numbers

In [9]:
# Define is_prime(number) function 
#to check the number is prime or not
# Which accept a parameter number 
def is_prime(number):
    
    if number < 2:
        return False
    
    for i in range(2, number):
        if number % i == 0:
            return False
        
    return True

# Define get_primes(n_start, n_end) function 
# which accepts two parameters
# and prints the list of prime numbers
def get_primes(n_start, n_end):
    
    primes = [i for i in range(n_start, n_end) if is_prime(i)]
    return primes

In [11]:
# call the function get_primes()
primes_list = get_primes(10, 20)

print(primes_list)

[11, 13, 17, 19]

##

##
##
##

##
#
#

# Sort List items in Ascending or Descending Order

In [2]:
# assume list of fruits
fruits = ['mango', 'apple', 'avocado', 'banana', 'orange']

## List of fruits before sorting

In [3]:
print(fruits)

['mango', 'apple', 'avocado', 'banana', 'orange']

## List of fruits after sorted in alphabetical order

In [10]:
sorted(fruits, reverse=False)

['apple', 'avocado', 'banana', 'mango', 'orange']

## List of fruits after sorted in reverse order

In [11]:
sorted(fruits, reverse=True)

['orange', 'mango', 'banana', 'avocado', 'apple']

## Rename Columns in DataFrame

In [1]:
import pandas as pd
data = {'first_name':['Asibeh', 'John'],
        'last_name':['Tenager', 'Brown'],
       'age': [28, 32]}
df = pd.DataFrame(data)
df

  first_name last_name  age
0     Asibeh   Tenager   28
1       John     Brown   32

### Columns after rename

In [4]:
# your code here
df.rename(columns={'first_name':'FName', 'last_name':'LName', 'age':'Age'})

    FName    LName  Age
0  Asibeh  Tenager   28
1    John    Brown   32

## DataFrame After Merged `first_name` and `last_name`

In [16]:
df['name'] = df['first_name'] +" "+ df['last_name']
df.drop(columns=['first_name', 'last_name'],
       inplace=True)
df

   age            name
0   28  Asibeh Tenager
1   32      John Brown

## Capitalize Column names in DataFrame

In [4]:
import pandas as pd
data = {'name':['Asibeh', 'Tenager'],
       'age': [28, 32]}
df = pd.DataFrame(data)

## Columns before capitalize

In [8]:
# code here
df

      name  age
0   Asibeh   28
1  Tenager   32

## Column names after capitalize

In [9]:
# code here
df.rename(columns=str.upper)

      NAME  AGE
0   Asibeh   28
1  Tenager   32

## BMI Calcuator

In [2]:
# epythonlab
# function to calculate BMI
def bmi_calc(w, h):
    # calcualte the bmi
    bmi = w/(h/100)**2
    if bmi < 18.5:
        return "Underweight"
    elif bmi >= 18.5 and bmi < 25.0:
        return "Normal"
    else:
        return "Overweight"
    
# code drive
weight = int(input("Weight in kg:"))
height = float(input("Height in cm:"))
result = bmi_calc(weight, height)
print(result)

Weight in kg: 60
Height in cm: 165

Normal

## Countdown Timer

In [ ]:
import time 
# count down function
def countdown(t): 
    while t:
        mins, secs = divmod(t, 60)
        timer = '{:02d}:{:02d}'.format(mins, secs)
        
        print(timer, end='\r')
        
        time.sleep(1) # sleep for 1 second
        t -= 1 # decrease by 1 second

# code drive
t = input("Enter time in seconds:")
countdown(int(t)) # call function and pass time

# Detect Your Language

In [ ]:
# install the library
pip install langdetect

In [ ]:
# import the library
from langdetect import detect

# input the text in your language
text = input("Text:")

print("Language detected:", detect(text))

Check within a column if a certain value is contained from the list

if found, return True else False in the new column

In [ ]:
import pandas as pd
import re
d = {
    "customerId": [1, 3, 3],
    "text": ["Something with Cat", "That is a huge dog", "Hello agian"],
}
df = pd.DataFrame(data=d)
df

In [ ]:
# List items
my_list = ['cat', 'dog', 'mouse']

Create pattern from the list

In [ ]:
# use regular expression to create patter from the list
pattern = re.compile("|".join(my_list), re.IGNORECASE)

Check the dataframe column

In [ ]:
df['test'] = df['text'].apply(lambda x: True if pattern.search(x) else False)

In [ ]:
df

# Check leap year in Python

In [ ]:
def checkLeap(year):
    
    if ((year % 400 == 0) or
       (year % 100 != 0) and
       (year % 4 == 0)):
        
        print("Given year is leap year.")
    
    else:
        print("Given year is not leap year.")

In [ ]:
# call the funcction
leap = checkLeap(2022)

In [ ]:
checkLeap(2019)

##
##
##
#
#